application = {
  source = {
    bufferSize = ""
    overflowStrategy = ""
  }
  crawler = {
    seedUrl = ""
    urlLifeSpan = ""
    parallelism = ""
    depth = ""
  }
  cassandra = {
    address = ""
    port = ""
    keyspaceName = ""
    urlTable = ""
    parallelism = ""
  }
  solr = {
    address = ""
    port = ""
    parallelism = ""
  }
}
